body {
 color: rgb(255, 255, 255);
 background: rgb(0, 0, 0);
}

header {
    border-bottom: solid 3px rgb(0, 0, 0);
    padding: 20px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
 }

 section {
    background: rgb(135, 206, 235);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto{
   margin-right: 2%;
 }

 img {
   height: 350px;
 }